@import url('//fonts.googleapis.com/css?family=Avenir&display=swap');
th, td, tr {
  border: 1px solid black;
  padding: 5px;
}
th {
	font-weight: bold !important;
}
p {
	margin: 0.125em 0;
	font-size: 15px;
	font-weight: bold;
}
h3 {
	font-family: Avenir;
	margin: unset;
}
table {
  border-spacing: 15px;
  margin: 10px 0;
}
table td {
	font-weight: bold;
}
input {
	border: 1px solid #d1ebd1;
	border-radius: 10px;
	padding: 10px;
}
/*button {
	background: #1C8983;
	border: 1px solid #1C8983;
	padding: 10px 15px;
	border-radius: 10px !important;
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin: 10px 0 !important;
	box-shadow: 0 0 5px lightgrey;
	text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}*/
button {
	display: flex !important;
	align-items: center;
	border-radius: 10px !important;
	padding: 10px 15px !important;
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin: 5px !important;
	font-family: Avenir !important;
	box-shadow: 0 0 5px lightgrey;
}
button:active {
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
}
button:focus {
	outline: none !important;
}
table {
	border-collapse: collapse;
}
li {
	list-style: none !important;
}
ul {
	padding: unset !important;
}
ul span {
	font-size: 1em !important;
	border: unset !important;
}
.drop-down-menu .dropdown-toggler {
	display: contents;
}
.drop-down-menu .dropdown-item:hover {
	background: #4285f4 !important;
}
.btn-area {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.v-dropdown-menu--direction-left .v-dropdown-menu__container {
	left: -44px !important;
}
.v-dropdown-menu__overlay {
	background: unset !important;
}
.img-profile {
	width: 5em;
	height: 5em;
	border-radius: 50%;
	background-size: cover;
	background-position: 50%;
	background-color: white;
	position: relative;
	box-shadow: 0px 1px 4px grey;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	opacity: 1;
	margin: auto;
	margin-bottom: .3em;
}
.img-user {
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	background-size: cover;
	background-position: 50%;
	background-color: white;
	box-shadow: 0px 1px 4px grey;
	cursor: pointer;
	position: relative;
	opacity: 1;
	margin: auto;
}
.out-section {
	background: lightgrey;
	border-radius: 10px;
	cursor: pointer;
	color: black;
	padding: 5px;
	position: absolute;
	top: 4em;
	right: 5px;
	box-shadow: 0 0 5px black;
	z-index: 1;
}
.img-pin {
	width: 5em;
	height: 5em;
	border-radius: 50%;
	background-size: cover;
	background-position: 50%;
	background-color: white;
	position: relative;
	box-shadow: 0px 1px 4px grey;
	cursor: pointer;
	position: relative;
	opacity: 1;
	margin: auto;
	margin-bottom: .3em;
	background-image: url('../assets/pin.jpg');
}
.img-profile:hover .camera-icon {
	animation-name: moveLeft;
	animation-duration: .3s;
	right: 10px;
}
.camera-icon {
	position: absolute;
	right: -4em;
    top: 15px;
	text-align: center;
}
.camera-icon span {
	color: grey;
}
.v-icon-camera {
	color: grey;
}
.loading {
	display: contents !important;
	margin-left: 1em;
}
.download-btn {
	background: #1C8983;
	border: 1px solid #1C8983;
	padding: 10px 15px;
	border-radius: 10px !important;
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin: 10px 0 !important;
	box-shadow: 0 0 5px lightgrey;
	text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 1em !important;
}
.ip-btn {
	background: white;
	cursor: pointer;
	border-left: 1px solid #1C8983 !important;
	padding: 5px 10px !important;
	color: black !important;
	margin: 5px 0 !important;
	text-align: left;
}
.about-btn {
	margin-left: 1em !important;
}
.details input {
	text-align: right;
	border: none !important;
	padding: unset !important;
	width: 100px;
}
.select-state {
	border: 1px solid #d1ebd1;
	padding: .3em;
	border-radius: 5px;
	width: 15em;
}
.select-state:focus {
	border: 1px solid #d1ebd1;
	outline: none;
}
input:focus {
	outline: none;
}
.search-bar span {
	font-weight: bold;
}
.area-search {
	margin: 10px 0;
	width: 120px;
}
.searched-img {
	width: 100%;
	height: 30vh;
	border-radius: 0 0 15px 15px;
	background-position: 50%;
	background-size: cover;
}
.search-input {
	margin-right: 1em;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search-input span {
	margin-right: .5em;
}
.right-side {
	width: 30%;
	height: 100vh;
	padding: 10px;
}
.right-top-bar {
	display: flex;
	align-items: center;
}
.not-right-top-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#nav {
	padding: unset !important;
}
.main-body {
	display: flex;
	height: 100vh;
	margin-top: 3px;
}
.rate-price {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.switch-toggle-btn {
	width: 10em !important;
}
.border-rate-price {
	border: 2px solid black;
	padding: 5px;
	margin: 10px 0 30px 0;
}
.double-boder {
	border-bottom: 1px solid black;
	border-bottom-style: double !important;
}
.under-boder {
	border-bottom: 1px solid black;
}
.right-side #fc-10 {
	height: 70vh !important;
}
.loading-img {
	position: absolute;
	left: 40%;
	top: 40vh;
	/*width: 50px;*/
	/*height: 50px;*/
}
.alertify-notifier {
	color: white;
	font-family: Avenir;
}
.disclaimer-modal {
	position: absolute;
	z-index: 12;
	box-shadow: 0 0 40px black !important;
    top: 10em;
    left: 10em;
    background: white;
    padding: 2em;
    border-radius: 25px;
    width: 80vw;
    min-height: 50vh;
}
.detail-modal {
	position: absolute;
    z-index: 10;
    box-shadow: 0 0 40px black !important;
    top: 5em;
    left: 10em;
    background: white;
    padding: 2em;
    border-radius: 25px;
    width: 80vw;
    min-height: 70vh;
}
.drop-down-menu {
	display: flex;
	align-items: center;
}
.left-side {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #1C8983;
	padding: 10px 0;
}
.switch-area {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #1C8983;
	padding: 10px 5px 5px 5px;
}
.switch-area span {
	font-size: 1.5em;
	font-weight: bold;
	color: black;
	border-left: 2px solid #1C8983;
	padding: 5px 10px;
	cursor: pointer;
	margin-right: 1em;
}
.left-side span {
	font-size: 2em;
	font-weight: bold;
	color: black;
	border-left: 2px solid #1C8983;
	padding: 5px 10px;
	cursor: pointer;
	margin-right: 20px;
}
.non-top-bar {
	padding: 0 1em;
	background: #e4eccf;
	box-shadow: 0 0 10px black;
}
.top-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1em;
	background: #e4eccf;
	box-shadow: 0 0 10px black;
}
.left-top-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.left-top-bar div {
	margin-right: 1em;
}
.v-icon-history {
	margin-left: 10px;
	font-size: 15px;
}
.v-icon-logout {
	margin-left: 10px;
	font-size: 20px;
}
.v-icon {
	margin: 0 .5em;
	color: #1C8983;
	font-size: 1em;
}
.v-icon-eye {
	position: absolute;
	color: white;
	font-size: 1em;
	right: 20px;
	top: 1.3em;
	cursor: pointer;
}
.login-form-section {
	position: relative;
	/*min-height: 60vh;*/
}
.login-btn {
	width: 90%;
	justify-content: center;
	text-align: center !important;
	margin: 1.5em auto !important;
}
.login-btn .loader {
	margin-left: 1em !important;
}
.back-home {
	position: absolute !important;
	margin: unset !important;
	top: 1em;
	right: 1em;
}
.v-icon-item {
	margin: 0 1em;
	color: white;
	font-size: 1em;
}
.v-icon-count {
	margin-right: 1em;
	color: #1C8983;
	font-size: 2em;
}
.v-icon-times {
	margin: 0 10px;
	color: #4285f4;
	font-size: 2em; 
	cursor: pointer;
}
.v-icon-p {
	margin: 0 1em;
}
.v-icon-detail {
	font-size: 20px;
	margin-left: 1em;
}
.count-side {
	margin-top: 5em;
}
.detail-side {
	padding: 2em 0;
}
.detail-side span {
	font-size: 2em;
	color: black;
	margin-right: 1em;
}
.history-detail {
	display: flex;
}
.right-detail-section {
	border-left: 1px solid #1C8983 !important;
	padding: 0 1em;
	min-height: 300px;
	overflow: auto;
}
.right-detail-section p {
	text-align: left;
	font-size: 1em;
}
.left-detail-section {
	min-height: 300px;
	overflow: auto;
}
.history-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 1em !important;
}
.disclaimer-body {
	padding: 1em .5em;
	text-align: left;
}
.disclaimer-body li {
	font-size: 2em;
	font-weight: bold;
	text-align: left !important;
}
.map-polygon:hover {
	color: red;
}
.select-state-area {
	position: absolute;
	box-shadow: 0 0 10px black;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 7em;
	left: 1em;
	background: white;
	border-radius: 10px;
	padding: 10px;
}
.select-state-area img {
	width: 1em;
	height: 1em;
	margin: 0 1em;
}
.img-icon {
	margin-left: 1em;
	display: flex;
	align-items: center;
}
.img-icon span {
	margin-right: .5em;
}
.select-state-area select {
	margin-left: 1em;
}
.select-state-area select:active {
	outline: unset;
}
.register-body {
	position: relative;
	background: url('../assets/bk1.jpg');
	background-size: cover;
	background-position: 50%;
	height: 100vh;
}
.login-body {
	border-radius: 15px !important;
	width: 30vw;
	position: absolute;
	z-index: 1;
	left: 35vw;
	top: 30vh;
	text-align: left;
	box-shadow: 0 0 15px black !important;
}
.login-body p {
	color: white !important;
	margin: .7em 0;
}
.login-body .md-form {
	margin: .5em 0 !important;
	width: 85%;
}
.email-image {
	margin: auto;
}
.verification-field {
	display: grid;
	min-height: 60vh;
}
.verification-field span {
	color: black;
	font-weight: bold;
}
.left-body h3 {
	font-weight: bold;
	font-size: 2em;
	color: white;
}
.left-body {
	padding: 1em;
}
.left-body span {
	font-size: 1em;
	font-weight: bold;
	color: white;
}
.non-success {
	position: relative;
}
.non-success button {
	position: absolute;
	bottom: -1em;
	left: 0;
}
.right-body {
	background: white;
	border-radius: 0 15px 15px 0;
	padding: 1em .5em;
}
.right-body button {
	width: 100% !important;
}
.error {
	color: red !important;
	margin-left: 2em;
}
.input-card-section {
	position: relative;
	display: flex;
	color: white !important;
	align-items: center;
	border-radius: 5px;
	margin: .2em 0;
}
.input-card-section input {
	padding: .3em !important;
	color: white !important;
	border: none !important;
	border-bottom: 1px solid white !important;
	margin: unset !important;
}
.input-card-section label {
	color: white !important;
}
.switch-section a {
	color: #0098d6 !important;
	text-decoration: none;
	font-size: 1em;
	cursor: pointer;
	font-weight: bold;
	margin-left: .3em;
}
.switch-section {
	text-align: center;
}
.switch-section span {
	border: none !important;
	cursor: unset !important;
	font-size: 1em
}

@media screen and (max-width : 2560px) {
	.lg-detail-modal {
		left: 15em !important;
		top: 10em !important;
	}
	.lg-detail-section {
		min-height: 40em !important;
		max-height: 40em !important;
	}
	th, td, tr {
	  	border: 1px solid black;
	  	padding: 1em 2em;
	}
	.lg-area-search {
		width: 20em !important;
	}
	.lg-gmap {
		height: 120% !important;
	}
	.lg-verification-field span {
		font-size: 2em !important;
	}
	.lg-non-success {
		min-height: 37vh;
	}
}
@media screen and (max-width : 1440px) {
	.md-detail-modal {
		left: 9em !important;
		top: 6em !important;
	}
	.md-detail-section {
		min-height: 300px !important;
		max-height: 300px !important;
	}
	th, td, tr {
	  	border: 1px solid black;
	  	padding: 5px;
	}
	.md-area-search {
		width: 8em !important;
	}
	.md-gmap {
		height: 180% !important;
	}
	.md-verification-field span {
		font-size: 1em !important;
	}
	.md-non-success {
		min-height: 60vh;
	}
}

@keyframes moveLeft {
	0%{right: -4em;}
	100%{right: 10px;}
}